.AboutMeHeader {
    position: relative left;
    padding: 5px;
    width: 250px;
    height: 50px;
    background: #4aaaa5;
    border: #fafafa;
    border-width: 2px;


    }

.nav-bar {


    }

.links {


}



.body {
    border: black;
    margin: 0%;
    background: ;

    }

header {
    color: white;

    }

nav {

    float: right}

nav ul{


nav li {
   

picture {
    display: block;
    height: 10%;
    width: 10%;

}

text {
    float: right;
    width: 600px;


}